:root {
  --main-font-color: rgba(255, 255, 255, 1);
  --secondary-font-color: rgba(255, 255, 255, 0.3);
  --main-border-color: rgb(255, 255, 255, 0.1);;

}

.main{
  font-family: 'Inter';
  padding: 80px 80px 60px 80px;
  background-color: #373E45;
  color: var(--main-font-color)
}

.header{
  margin: 0;
  font-size: 3em;
  font-weight: 700;
}

.paragraph{
  margin: 8px 0 0 0;
  font-size: 1em;
  font-weight: 400; 
  color: var(--secondary-font-color)
}

.table{
  margin-top: 3em;
  display: grid;
  grid-template-columns: 47px minmax(400px, auto) 168px;
  grid-template-rows: 2em;
  grid-auto-rows: 5em;
  border: 1px solid var(--main-border-color);
  border-radius: 8px; 
  overflow: hidden;
}

.header1, .header2, .header3{
  display: flex;
  font-size: 0.75em;
  color: var(--secondary-font-color);
  align-items: center;
  background-color: rgba(255, 255, 255, 0.04);
}

.header1{
justify-content: center;
align-items: center;
}

.header2, .header3{
  padding-left: 12px;
}

.cell:not(:nth-last-child(-n+3)) {
border-bottom: 1px solid var(--main-border-color);
}

.cell{
  align-items: center;
  display: flex;
}

.number{
  justify-content: center;
}

.email{
  font-size: 0.75em;
  color: rgba(255, 255, 255, 0.4);
}

.todoCount {
  padding-left: 12px;
}

.profile_wrapper{
  display: flex;
  padding-left: 8px;
  gap: 16px;
}

.name_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}